.page-content {
    padding: 2em;
    width: 90vw;
}

h2 {
    text-align: center;
}

#whit-img {
    max-width: 300px;
    height: auto;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

p {
    overflow: hidden;
}