.page-content {
    padding-left: 4em;
    width: 90vw;
    display: flex;
}



/* .about-page {
} */


/* #wet-backpacker {
    max-width: 500px;
}

#wet-backpacker img {
    max-width: 100%;
    height: auto;
} */