
main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.main-grid {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* .txt-container {
    height: 30vh;
    width: 100%;
}

.flex-grid-halves {
    display: flex;
    justify-content: space-between;
}

#image1 {
    flex: auto;
    border: solid 1px red;
    height: 40vh;
}

#text1 {
    flex: auto;
    border: solid 1px black;
    height: 40vh;
}

#image2 {
    flex: auto;
    border: solid 1px red;
    height: 40vh;
}

#text2 {
    flex: auto;
    border: solid 1px black;
    height: 40vh;
}

#image3 {
    flex: auto;
    border: solid 1px red;
    height: 40vh;
}

#text3 {
    flex: auto;
    border: solid 1px black;
    height: 40vh;
}

#image4 {
    flex: auto;
    border: solid 1px red;
    height: 40vh;
}

#text4 {
    flex: auto;
    border: solid 1px black;
    height: 40vh;
} */