/* @import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Monda&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200&display=swap');

* {
    /* box-sizing: border-box; */
    color: black;
    font-family: 'Exo', sans-serif;
}

.grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
        'hd hd hd'
        'feat feat feat'
        'ft ft ft';
}


/************
 ** HEADER **
 ************/

header {
    background-color: rgb(245, 245, 245);
    grid-area: hd;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
}

.my-name {
    align-self: center;
    margin-left: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.my-name a {
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 2em;
    color: black;
}

/* place navbar in center of grid row */
.navbar {
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    float: right;
    align-self: center;
    grid-column-start: -1;
    margin-right: 3em;
}

.navbar a {
    font-size: 20px;
    color: black;
    margin-left: 2em;
    text-align: left;
    text-decoration: none;
    position: relative;
}

.navbar a:hover {
    color: black;
}

/* add border and hide it through transformation by setting x scale to 0 */
/* visibility is hidden for browsers that don't support CSS animations */
.navbar a::before {
    content: "";
    text-align: left;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

/* makes animation appear */
.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/******************
 ** MAIN SECTION **
 ******************/

.featured {
    grid-area: feat;
    display: flex;
    padding-left: 3em; /**/
    margin-right: 10px; /**/
    width: 90vw;
    height: 100%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.featured li {
    flex: 20%;
    padding-left: 5px;
    justify-content: space-evenly;
    /* padding: 5px; */
}

.featured li img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container {
    position: relative;
    height: 100%;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/************
 ** FOOTER **
 ************/

footer {
    grid-area: ft;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
}

.social-icons {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

/* margin-left to center the menu */
.social-menu {
    list-style-type: none;
    display: flex;
}

.social-menu li {
    flex-direction: row;
    place-items: center;
}

/* Style all font awesome icons */
.fa {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Add a hover effect to font awesome icons */
.fa:hover {
    opacity: 0.7;
}

.copyright {
    grid-column-start: 3;
    grid-column-end: 4;
    margin: auto 0;
}

.signature {
    float: right;
    /* padding-top: 1em; */
    padding-right: 8.5%;
    padding-bottom: 3%;
    font-size: x-small;
    color: rgba(0,0,0, 0.6)
}




/* highlights the current page in the navbar */
/* a.current-page:link, a.current_page:visited {
    color: white;
    background-color: black;
} */